<div gdAreas="header header header header header header header header | left-side content content content content content content right-side | footer footer footer footer footer footer footer footer" gdGap="16px" gdRows="auto auto auto">
    <div class="header" gdArea="header">
        <h1>Header</h1>
    </div>
    <div class="left-side" gdArea="left-side">
        <h1>Left Side</h1>
    </div>
    <div class="content" gdArea="content">
        <h1>Content</h1>
    </div>
    <div class="right-side" gdArea="right-side">
        <h1>Right Side</h1>
    </div>
    <div class="footer" gdArea="footer">
        <h1>Footer</h1>
    </div>
</div>