.link {
    color: cornsilk;
    padding: 0.3rem 1rem;
    margin: 0 0.5rem;
    border: 1px solid darkorange;
    background-color: darkgray;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}