<!--The content below is only a placeholder and can be replaced.-->
<div style="background-color:black; color:cornsilk;height: 5rem;">
    <h2 style="text-align:center">
        Welcome to {{ title }}!
    </h2>
    <nav>
        <a routerLink="/layout1" routerLinkActive="active" class="link">layout 1</a>
        <a routerLink="/layout2" routerLinkActive="active" class="link">layout 2</a>
        <!-- <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a> -->
    </nav>
</div>


<router-outlet></router-outlet>